h2 {
    text-align: center;
    position: relative;
    z-index: 10;
}

#mapa {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 5%;
}

#contexto {
    position: absolute;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 99999999;
    position: absolute;
    width: 70%;
    right: 32%;
    bottom: -10%;
}

#contexto.hidden {
    opacity: 0;
    transform: scale(0.9);
}

.estática {
    max-width: 55%;
    height: auto;
}

#info-box.visible {
    display: block;
    opacity: 1;
}

@media (max-width: 768px) {
    #contexto {
        width: 70vw;
        right: 15vw;
        bottom: 10vh;
    }

    #info-box {
        left: 5vw;
        top: 10vh;
        width: 80vw;
    }
}

@media (max-width: 480px) {
    #contexto {
        width: 80vw;
        right: 10vw;
        bottom: 15vh;
    }

    #info-box {
        left: 5vw;
        top: 5vh;
        width: 90vw;
    }
}