h2 {
    text-align: center;
    position: relative;
    z-index: 10;
}

#map-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#mapa {
    position: relative;
    margin-top: -9vh;
    margin-left: 24vh;
    width: 100%;
    height: 100%;
}

#contexto {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -12.5vh;
    margin-left: 12vh;
    width: 100%;
    height: 70vh;
    pointer-events: none;
    z-index: 99999999;
}

#contexto.hidden {
    opacity: 0;
    transform: scale(0.9);
}

.estática {
    max-width: 55%;
    height: auto;
}

#info-box.visible {
    display: block;
    opacity: 1;
}

#consumption-bar-container .tick-label {
    position: absolute;
    font-size: 12px;
    color: black;
}

#consumption-bar-container .tick-label-0 {
    left: 2%;
    /* 0M */
}

#consumption-bar-container .tick-label-10 {
    left: calc(2% + (10 / 60) * (92% - 2%));
    /* 10M */
}

#consumption-bar-container .tick-label-20 {
    left: calc(2% + (20 / 60) * (92% - 2%));
    /* 20M */
}

#consumption-bar-container .tick-label-30 {
    left: calc(2% + (30 / 60) * (92% - 2%));
    /* 30M */
}

#consumption-bar-container .tick-label-40 {
    left: calc(2% + (40 / 60) * (92% - 2%));
    /* 40M */
}

#consumption-bar-container .tick-label-50 {
    left: calc(2% + (50 / 60) * (92% - 2%));
    /* 50M */
}

#consumption-bar-container .tick-label-60 {
    left: 92%;
    /* 60M */
}

/* Media Queries */
@media (max-width: 1024px) {

    #mapa {
        margin-left: 8%;
        margin-top: -5%;
    }

    #contexto {
        margin-top: -10vh;
        margin-left: 5vh;
        width: 80%;
        height: 60vh;
    }
}

@media (max-width: 768px) {

    #mapa {
        margin-left: 5%;
        margin-top: -3%;
    }

    #contexto {
        margin-top: -8vh;
        margin-left: 3vh;
        width: 85%;
        height: 55vh;
    }

    #info-box.visible {
        left: 5vw;
        top: 10vh;
        width: 80vw;
    }
}

@media (max-width: 480px) {

    #mapa {
        margin-left: 3%;
        margin-top: -2%;
    }

    #contexto {
        margin-top: -5vh;
        margin-left: 2vh;
        width: 90%;
        height: 50vh;
    }

    #info-box.visible {
        left: 5vw;
        top: 5vh;
        width: 90vw;
    }
}

@media (min-width: 1900px) {
    #mapa {
        margin-top: -6vh;
        margin-left: 17vh;
        height: 90vh;
    }

    #contexto {
        margin-left: 15vw;
        height: 95%;
        width: 95%;
        margin-top: -10vh;
    }

    #info-box {
        left: 35vw;
        top: 7vh;
        width: 90vw;
    }
}

@media (min-width: 1080px) {
    #mapa {
        margin-top: -12vh;
        margin-left: 14vw;
        height: 100vh;
    }

    #contexto {
        margin-left: 10vw;
        height: 10%;
        margin-top: -30vh;
    }

    img {
        margin-left: 27vh;
        width: 56%;
        margin-top: 22vh;
    }

    #info-box {
        left: 18vw;
        top: 7vh;
        width: 90vw;
    }
}

@media (min-width: 1300px) {
    #mapa {
        margin-top: -13vh;
        margin-left: 14vw;
        height: 100vh;
    }

    #contexto {
        margin-left: 8vw;
        height: 90%;
        margin-top: -25vh;
    }

    img {
        margin-left: 1vw;
        width: 71%;
        margin-top: 21vh;
    }

    #info-box {
        left: 18vw;
        top: 7vh;
        width: 90vw;
    }
}

@media (min-width: 1440px) {
    #mapa {
        margin-top: -13vh;
        margin-left: 14vw;
        height: 100vh;
    }

    #contexto {
        margin-left: 10vw;
        height: 90%;
        margin-top: -30vh;
    }

    img {
        margin-left: 1vw;
        width: 71%;
        margin-top: 21vh;
    }

    #info-box {
        left: 18vw;
        top: 7vh;
        width: 90vw;
    }
}

@media (min-width: 1280px) {
    #mapa {
        margin-top: -13vh;
        margin-left: 14vw;
        height: 100vh;
    }

    #contexto {
        margin-left: 21vw;
        height: 90%;
        margin-top: -29vh;
    }

    img {
        width: 775px;
    }

    #info-box {
        left: 18vw;
        top: 7vh;
        width: 90vw;
    }
}

@media (min-width: 1920px) {
    #mapa {
        margin-top: -13vh;
        margin-left: 14vw;
        height: 100vh;
    }

    #contexto {
        margin-left: 17vw;
        height: 90%;
        margin-top: -31vh;
    }

    img {
        width: 1280px;
    }

    #info-box {
        left: 18vw;
        top: 7vh;
        width: 90vw;
    }
}